.DS_Store
node_modules
.turbo
*.log
.next
dist
coverage
dist-ssr
*.local
.env
.cache
server/dist
public/dist
/.idea/
/apps/pod2x/pods/*.mp3
/apps/pod2x/tmp/*.png
/apps/pod2x/public/images/*.png
/apps/pod-indexer/public/pods/*

